[gcode_macro SPRAY_LINE_TEST]
description: spray non-overlapping path the length of a full normal pass 360mm
gcode:
  {% set step = params.STEP|default(10)|int %}
  {% set z = params.Z|default(25)|int %}
  {% set dry_time = params.DRY_TIME|default(5000)|int %}
  {% set x_left = params.X_LEFT|default(10)|int %}
  {% set y_bottom = params.Y_BOTTOM|default(80)|int %}
  {% set x_right = params.X_RIGHT|default(140)|int %}
  {% set y_top = params.Y_TOP|default(160)|int %}
  {% set SPEED = params.SPEED|default(8000)|int %}
  
 {% if LASER_ALIGNMENT_STATUS == 1 %}
     G28 X Y
     {% set LASER_ALIGNMENT_STATUS = 0 %}
 {% endif %}   
     
     G90
     G1 Z{z} F1200
     G1 X{x_left} Y{y_top} F{SPEED} ;starting position at TL
  
      M106 S0
      G1 X{x_left} Y{y_top} Z{z} F{SPEED}
      
      {% for y in range(y_bottom, y_top, step*2) %}
        {% set ypos = (y_top + y_bottom - y) %}
        M106 S255
         G4 P{dry_time / 2}
         G1 X{x_left} Y{ypos} Z{z} F{SPEED}      ;
         G1 X{x_right} Y{ypos} Z{z} F{SPEED}          ;
         G1 X{x_right} Y{ypos-step} Z{z} F{SPEED}     ;
         G1 X{x_left} Y{ypos-step} Z{z} F{SPEED}      ;
        M106 S0
        G4 P{dry_time / 2}  
        G1 X{x_left} Y{ypos-step-step} Z{z} F{SPEED}      ;
        G4 P{dry_time / 2} 
         
         
      {% endfor %}
      M106 S0
    
     G1 Z75 F3000
     RESPOND MSG="Spray line test complete."


[gcode_macro SPRAY_PATTERN_TEST_NONOVERLAPPING]
description: test the spray pattern without overlapping passes
gcode:
  {% set layers = params.LAYERS|default(1)|int %}
  {% set step = params.STEP|default(2)|int %}
  {% set z = params.Z|default(25)|int %}
  {% set dry_time = params.DRY_TIME|default(5000)|int %}
  {% set x_left = params.X_LEFT|default(0)|int %}
  {% set y_bottom = params.Y_BOTTOM|default(0)|int %}
  {% set x_right = params.X_RIGHT|default(22)|int %}
  {% set y_top = params.Y_TOP|default(22)|int %}
  {% set speed = params.SPEED|default(8000)|int %}
  {% set gap = 20|int %}
  {% set spray_dist = 22|int %}
  {% set offset = gap + spray_dist|int %}
  {% set LASER_ALIGNMENT_STATUS = printer["gcode_macro LASER_ALIGNMENT_FROM_BL_CORNER"].laser_alignment_complete %}


    {% if LASER_ALIGNMENT_STATUS == 1 %}
         G28 X Y
         {% set LASER_ALIGNMENT_STATUS = 0 %}
     {% endif %}   

     G1 X30 Y145 Z{z} F{speed}
     G92 Z{z} ;new (0,0) from step1 BL
     G90 ;absolute positioning for future moves
      
    {% for layer in range(layers) %}
        {% set layer_i = layer + 1 %}
        M118 Running spray layer {layer_i}/{layers}
        
        #step1 horiz TL-BR (no offset)
        SPRAY_HORIZONTAL_TL_BR STEP={step} X_START={x_left} X_END={x_right} Y_START={y_top} Y_END={y_bottom} Z={z} SPEED={speed}  
        G4 P{dry_time}

        #step2 vert TR-BL (X-axis offset right)
        SPRAY_VERTICAL_TR_BL STEP={step} X_START={x_right+offset} X_END={x_left+offset} Y_START={y_top} Y_END={y_bottom} Z={z} SPEED={speed}
        G4 P{dry_time}

        #step3 horiz BR-TL (x-axis offset right and y-axis offset down)
        SPRAY_HORIZONTAL_BR_TL STEP={step} X_START={x_right+offset} X_END={x_left+offset} Y_START={y_bottom-offset} Y_END={y_top-offset} Z={z} SPEED={speed}
        G4 P{dry_time}

        #step4 vert BL-TR (y-axis offset down)
        SPRAY_VERTICAL_BL_TR STEP={step} X_START={x_left} X_END={x_right} Y_START={y_bottom-offset} Y_END={y_top-offset} Z={z} SPEED={speed}
        G4 P{dry_time}
     {% endfor %}
     
     M106 S0

     G90
     G1 Z75 F3000
     RESPOND MSG="Spray pattern test complete."

