[gcode_macro RUN_SPRAY_JOB]
gcode:
  {% set layers = params.LAYERS|default(4)|int %}
  {% set step = params.STEP|default(2.0)|float %}
  {% set z = params.Z|default(50)|float %}
  {% set dry_time = params.DRY_TIME|default(5000)|int %}
  
  {% set x_start = params.X_START|default(85)|float %}
  {% set y_start = params.Y_START|default(90)|float %}
  {% set x_end = params.X_END|default(115)|float %}
  {% set y_end = params.Y_END|default(120)|float %}
  
  {% set speed = params.SPEED|default(6000)|int %}

  G1 Z{z} F1200
  G1 X{x_start} Y{y_start} F{speed}

  {% for layer in range(layers) %}
    #{action_respond_info("Layer = %i"% (layer))}
    #{action_respond_info("z_resume_move = %s"% (z_resume_move))}
    SPRAY_HORIZONTAL STEP={step} X_START={x_start} X_END={x_end} Y_START={y_start} Y_END={y_end} Z={z} SPEED={speed}
    G4 P{dry_time}
    SPRAY_VERTICAL STEP={step} X_START={x_start} X_END={x_end} Y_START={y_start} Y_END={y_end} Z={z} SPEED={speed}
    G4 P{dry_time}
  {% endfor %}
    M106 S0
    G1 X160 Y45 Z100 F1200
    #{action_respond_info("spray complete")}

[gcode_macro SPRAY_HORIZONTAL]
gcode:
  {% set Y_START = params.Y_START|float %}
  {% set Y_END = params.Y_END|float %}
  {% set STEP = params.STEP|float %}
  {% set X_START = params.X_START|float %}
  {% set X_END = params.X_END|float %}
  {% set Z = params.Z|default(25)|float %}
  {% set SPEED = params.SPEED|default(4572)|int %}

  {% set direction = 1 %}
  {% for y in range((Y_START*100)|int, (Y_END*100+1)|int, (STEP*100)|int) %}
    {% set ypos = y / 100.0 %}
    M106 S255
    {% if direction == 1 %}
      G1 X{X_START} Y{ypos} Z{Z} F{SPEED}
      G1 X{X_END} Y{ypos} Z{Z} F{SPEED}
    {% else %}
      G1 X{X_END} Y{ypos} Z{Z} F{SPEED}
      G1 X{X_START} Y{ypos} Z{Z} F{SPEED}
    {% endif %}
    {% set direction = -direction %}
  {% endfor %}
  M106 S0


[gcode_macro SPRAY_VERTICAL]
gcode:
  {% set X_START = params.X_START|float %}
  {% set X_END = params.X_END|float %}
  {% set STEP = params.STEP|float %}
  {% set Y_START = params.Y_START|float %}
  {% set Y_END = params.Y_END|float %}
  {% set Z = params.Z|default(25)|float %}
  {% set SPEED = params.SPEED|default(4572)|int %}


  {% set direction = 1 %}
  {% for x in range((X_START*100)|int, (X_END*100+1)|int, (STEP*100)|int) %}
    {% set xpos = x / 100.0 %}
    M106 S255
    {% if direction == 1 %}
      G1 X{xpos} Y{Y_START} Z{Z} F{SPEED}
      G1 X{xpos} Y{Y_END} Z{Z} F{SPEED}
    {% else %}
      G1 X{xpos} Y{Y_END} Z{Z} F{SPEED}
      G1 X{xpos} Y{Y_START} Z{Z} F{SPEED}
    {% endif %}
    {% set direction = -direction %}
  {% endfor %}
  M106 S0
