[gcode_macro RUN_SPRAY_JOB]
description: spray CCM
gcode:
  {% set layers = params.LAYERS|default(4)|int %}
  {% set step = params.STEP|default(2.0)|float %}
  {% set z = params.Z|default(35)|float %}
  {% set dry_time = params.DRY_TIME|default(5000)|int %}
  
  {% set x_left = params.X_LEFT|default(85)|float %}
  {% set y_bottom = params.Y_BOTTOM|default(90)|float %}
  {% set x_right = params.X_RIGHT|default(115)|float %}
  {% set y_top = params.Y_TOP|default(120)|float %}
  
  {% set speed = params.SPEED|default(8000)|int %}

  G1 Z{z} F1200
  G1 X{x_left} Y{y_top} F{speed}

  #{% set layer_i = 1|int %}

 {% for layer in range(layers) %}
    #{% set layer_i = 1 + layer|int %}
    #M118 current layer: {layer_i}
    SPRAY_HORIZONTAL STEP={step} X_START={x_left} X_END={x_right} Y_START={y_top} Y_END={y_bottom} Z={z} SPEED={speed}  
    G4 P{dry_time}
    SPRAY_VERTICAL STEP={step} X_START={x_right} X_END={x_left} Y_START={y_top} Y_END={y_bottom} Z={z} SPEED={speed}   
    G4 P{dry_time}
    SPRAY_HORIZONTAL STEP={step} X_START={x_right} X_END={x_left} Y_START={y_bottom} Y_END={y_top} Z={z} SPEED={speed} 
    G4 P{dry_time}
    SPRAY_VERTICAL STEP={step} X_START={x_left} X_END={x_right} Y_START={y_bottom} Y_END={y_top} Z={z} SPEED={speed}  
    G4 P{dry_time}
 {% endfor %}
 M106 S0
 M118 spray completed
 G1 X160 Y45 Z100 F1200


[gcode_macro SPRAY_HORIZONTAL]
gcode:
  {% set Y_START = params.Y_START|float %}
  {% set Y_END = params.Y_END|float %}
  {% set STEP = params.STEP|float %}
  {% set X_START = params.X_START|float %}
  {% set X_END = params.X_END|float %}
  {% set Z = params.Z|default(25)|float %}
  {% set SPEED = params.SPEED|default(4572)|int %}
  {% set direction = 1 %}
  {% for y in range((Y_START*100)|int, (Y_END*100+1)|int, (STEP*100)|int) %}
    {% set ypos = y / 100.0 %}
    M106 S255
    {% if direction == 1 %}
      G1 X{X_START} Y{ypos} Z{Z} F{SPEED}
      G1 X{X_END} Y{ypos} Z{Z} F{SPEED}
    {% else %}
      G1 X{X_END} Y{ypos} Z{Z} F{SPEED}
      G1 X{X_START} Y{ypos} Z{Z} F{SPEED}
    {% endif %}
    {% set direction = -direction %}
  {% endfor %}
  M106 S0


[gcode_macro SPRAY_VERTICAL]
gcode:
  {% set X_START = params.X_START|float %}
  {% set X_END = params.X_END|float %}
  {% set STEP = params.STEP|float %}
  {% set Y_START = params.Y_START|float %}
  {% set Y_END = params.Y_END|float %}
  {% set Z = params.Z|default(25)|float %}
  {% set SPEED = params.SPEED|default(4572)|int %}
  {% set direction = 1 %}
  {% for x in range((X_START*100)|int, (X_END*100+1)|int, (STEP*100)|int) %}
    {% set xpos = x / 100.0 %}
    M106 S255
    {% if direction == 1 %}
      G1 X{xpos} Y{Y_START} Z{Z} F{SPEED}
      G1 X{xpos} Y{Y_END} Z{Z} F{SPEED}
    {% else %}
      G1 X{xpos} Y{Y_END} Z{Z} F{SPEED}
      G1 X{xpos} Y{Y_START} Z{Z} F{SPEED}
    {% endif %}
    {% set direction = -direction %}
  {% endfor %}
  M106 S0
