#main function that calls each pattern macro:

[gcode_macro RUN_SPRAY_JOB]
description: Run spray coating job using stored laser alignment offset
gcode:
  {% set layers = params.LAYERS|default(1)|int %}        # count
  {% set step = params.STEP|default(1)|int %}            # mm
  {% set dry_time = params.DRY_TIME|default(2000)|int %} # ms
  {% set z = params.Z|default(25)|int %}                 # mm
  {% set x_left = params.X_LEFT|default(0)|int %}        # mm
  {% set x_right = params.X_RIGHT|default(printer['gcode_macro SPRAY_AREA_DEFAULTS'].x_right)|int %} # mm
  {% set y_bottom = params.Y_BOTTOM|default(0)|int %}    # mm
  {% set y_top   = params.Y_TOP|default(printer['gcode_macro SPRAY_AREA_DEFAULTS'].y_top)|int %}      # mm
  {% set SPEED = params.SPEED|default(50)|int %}         # mm/s
  {% set LASER_ALIGNMENT_STATUS = printer["gcode_macro LASER_ALIGNMENT_FROM_BL_CORNER"].laser_alignment_complete %}

  {% if LASER_ALIGNMENT_STATUS == 0 %}
     RESPOND MSG="Laser alignment not completed. Run LASER_ALIGNMENT_FROM_BL_CORNER first."
  {% else %}
     SET_GCODE_VARIABLE MACRO=SPRAY_STATE VARIABLE=stop_requested VALUE=0
     SET_GCODE_VARIABLE MACRO=SPRAY_STATE VARIABLE=job_active VALUE=1
     SET_GCODE_VARIABLE MACRO=SPRAY_STATE VARIABLE=current_pass VALUE=0
     SET_GCODE_VARIABLE MACRO=SPRAY_STATE VARIABLE=total_passes VALUE={layers * 4}
     SET_GCODE_VARIABLE MACRO=SPRAY_STATE VARIABLE=step VALUE={step}
     SET_GCODE_VARIABLE MACRO=SPRAY_STATE VARIABLE=dry_time VALUE={dry_time}
     SET_GCODE_VARIABLE MACRO=SPRAY_STATE VARIABLE=z VALUE={z}
     SET_GCODE_VARIABLE MACRO=SPRAY_STATE VARIABLE=x_left VALUE={x_left}
     SET_GCODE_VARIABLE MACRO=SPRAY_STATE VARIABLE=x_right VALUE={x_right}
     SET_GCODE_VARIABLE MACRO=SPRAY_STATE VARIABLE=y_bottom VALUE={y_bottom}
     SET_GCODE_VARIABLE MACRO=SPRAY_STATE VARIABLE=y_top VALUE={y_top}
     SET_GCODE_VARIABLE MACRO=SPRAY_STATE VARIABLE=speed VALUE={SPEED}
     SET_GCODE_VARIABLE MACRO=SPRAY_STATE VARIABLE=job_type VALUE=0
     G90
     G1 Z{z} F1200
     G1 X{x_left} Y{y_top} F{SPEED * 60}
     UPDATE_DELAYED_GCODE ID=spray_job_loop DURATION=0.1
  {% endif %}


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


;Pass #1 of 4 in each layer of RUN_SPRAY_JOB
[gcode_macro SPRAY_HORIZONTAL_TL_BR]
description: Single pass horizontal spray from top left to bottom right
gcode:
  {% set STEP = params.STEP|default(1)|int %}    # mm
  {% set Z = params.Z|default(25)|int %}         # mm
  {% set X_START = params.X_START|default(0)|int %}   # mm
  {% set X_END = params.X_END|default(22)|int %}      # mm
  {% set Y_START = params.Y_START|default(22)|int %}  # mm
  {% set Y_END = params.Y_END|default(0)|int %}       # mm
  {% set SPEED = params.SPEED|default(50)|int %}      # mm/s
  {% set range_min = [Y_START, Y_END]|min %}
  {% set range_max = [Y_START, Y_END]|max %}
  M106 S0
  G1 X{X_START} Y{Y_START} Z{Z} F{SPEED * 60}
  {% for y in range(range_min, range_max, STEP*2) %}
    {% set ypos = (range_max + range_min - y) %}
    M106 S255
     G1 X{X_START} Y{ypos} Z{Z} F{SPEED * 60}     #line1
     G1 X{X_END} Y{ypos} Z{Z} F{SPEED * 60}       #line2
     G1 X{X_END} Y{ypos-STEP} Z{Z} F{SPEED * 60}  #line3
     G1 X{X_START} Y{ypos-STEP} Z{Z} F{SPEED * 60} #line4
     G1 X{X_START} Y{ypos-STEP-STEP} Z{Z} F{SPEED * 60} #line5    
  {% endfor %}
  G1 X{X_END} Y{Y_END} Z{Z} F{SPEED * 60}
  M106 S0

;Pass #2 of 4 in each layer of RUN_SPRAY_JOB
[gcode_macro SPRAY_HORIZONTAL_BR_TL]
description: Single pass horizontal spray from bottom right to top left
gcode:
  {% set STEP = params.STEP|default(1)|int %}    # mm
  {% set Z = params.Z|default(25)|int %}         # mm
  {% set X_START = params.X_START|default(22)|int %}  # mm
  {% set X_END = params.X_END|default(0)|int %}       # mm
  {% set Y_START = params.Y_START|default(0)|int %}   # mm
  {% set Y_END = params.Y_END|default(22)|int %}      # mm
  {% set SPEED = params.SPEED|default(50)|int %}      # mm/s
  {% set range_min = [Y_START, Y_END]|min %}
  {% set range_max = [Y_START, Y_END]|max %}
  M106 S0
  G1 X{X_START} Y{Y_START} Z{Z} F{SPEED * 60}
  {% for y in range(range_min, range_max, STEP*2) %}
    {% set ypos = y %}
    M106 S255
     G1 X{X_START} Y{ypos} Z{Z} F{SPEED * 60}
     G1 X{X_END} Y{ypos} Z{Z} F{SPEED * 60}
     G1 X{X_END} Y{ypos+STEP} Z{Z} F{SPEED * 60}
     G1 X{X_START} Y{ypos+STEP} Z{Z} F{SPEED * 60}
     G1 X{X_START} Y{ypos+STEP+STEP} Z{Z} F{SPEED * 60}     
  {% endfor %}
  G1 X{X_END} Y{Y_END} Z{Z} F{SPEED * 60}
  M106 S0

;Pass #3 of 4 in each layer of RUN_SPRAY_JOB
[gcode_macro SPRAY_VERTICAL_TR_BL]
description: Single pass vertical spray from top right to bottom left
gcode:
  {% set STEP = params.STEP|default(1)|int %}    # mm
  {% set Z = params.Z|default(25)|int %}         # mm
  {% set X_START = params.X_START|default(22)|int %}  # mm
  {% set X_END = params.X_END|default(0)|int %}       # mm
  {% set Y_START = params.Y_START|default(22)|int %}  # mm
  {% set Y_END = params.Y_END|default(0)|int %}       # mm
  {% set SPEED = params.SPEED|default(50)|int %}      # mm/s
  {% set range_min = [X_START, X_END]|min %}
  {% set range_max = [X_START, X_END]|max %}
  M106 S0
  G1 X{X_START} Y{Y_START} Z{Z} F{SPEED * 60}
  {% for x in range(range_min, range_max, STEP*2) %}
    {% set xpos = (range_max + range_min - x) %}
    M106 S255
    G1 X{xpos} Y{Y_START} Z{Z} F{SPEED * 60}
    G1 X{xpos} Y{Y_END} Z{Z} F{SPEED * 60}
    G1 X{xpos-STEP} Y{Y_END} Z{Z} F{SPEED * 60}
    G1 X{xpos-STEP} Y{Y_START} Z{Z} F{SPEED * 60}
    G1 X{xpos-STEP-STEP} Y{Y_START} Z{Z} F{SPEED * 60}
  {% endfor %}
  G1 X{X_END} Y{Y_END} Z{Z} F{SPEED * 60}
  M106 S0

;Pass #4 of 4 in each layer of RUN_SPRAY_JOB
[gcode_macro SPRAY_VERTICAL_BL_TR]
description: Single pass vertical spray from bottom left to top right
gcode:
  {% set STEP = params.STEP|default(1)|int %}    # mm
  {% set Z = params.Z|default(25)|int %}         # mm
  {% set X_START = params.X_START|default(0)|int %}   # mm
  {% set X_END = params.X_END|default(22)|int %}      # mm
  {% set Y_START = params.Y_START|default(0)|int %}   # mm
  {% set Y_END = params.Y_END|default(22)|int %}      # mm
  {% set SPEED = params.SPEED|default(50)|int %}      # mm/s
  {% set range_min = [X_START, X_END]|min %}
  {% set range_max = [X_START, X_END]|max %}
  M106 S0
  G1 X{X_START} Y{Y_START} Z{Z} F{SPEED * 60}
  {% for x in range(range_min, range_max, STEP*2) %}
    {% set xpos = x %}
    M106 S255
    G1 X{xpos} Y{Y_START} Z{Z} F{SPEED * 60}
    G1 X{xpos} Y{Y_END} Z{Z} F{SPEED * 60}
    G1 X{xpos+STEP} Y{Y_END} Z{Z} F{SPEED * 60}
    G1 X{xpos+STEP} Y{Y_START} Z{Z} F{SPEED * 60}
    G1 X{xpos+STEP+STEP} Y{Y_START} Z{Z} F{SPEED * 60}
  {% endfor %}
    G1 X{X_END} Y{Y_END} Z{Z} F{SPEED * 60}
  M106 S0