#main function that calls each pattern macro:

[gcode_macro RUN_SPRAY_JOB_ZIGZAG]
description: Run spray coating job using stored laser alignment offset
gcode:
  {% set layers = params.LAYERS|default(1)|int %}        # count
  {% set step = params.STEP|default(1)|int %}            # mm
  {% set dry_time = params.DRY_TIME|default(2000)|int %} # ms
  {% set z = params.Z|default(25)|int %}                 # mm
  {% set x_left = params.X_LEFT|default(0)|int %}        # mm
  {% set x_right = params.X_RIGHT|default(22)|int %}     # mm
  {% set y_bottom = params.Y_BOTTOM|default(0)|int %}    # mm
  {% set y_top = params.Y_TOP|default(22)|int %}         # mm
  {% set SPEED = params.SPEED|default(50)|int %}         # mm/s
  {% set LASER_ALIGNMENT_STATUS = printer["gcode_macro LASER_ALIGNMENT_FROM_BL_CORNER"].laser_alignment_complete %}
  
  {% if LASER_ALIGNMENT_STATUS == 0 %}
     RESPOND MSG="Laser alignment not completed. Run LASER_ALIGNMENT_FROM_BL_CORNER first."
     ABORT
  {% else %}
     G90
     G1 Z{z} F1200
     G1 X{x_left} Y{y_top} F{SPEED * 60} ;starting position at TL
  
     {% for layer in range(layers) %}
        {% set layer_i = layer + 1 %}
        M118 Running spray layer {layer_i}/{layers}

        SPRAY_ZZ_HORIZONTAL_TL_BR STEP={step} X_START={x_left} X_END={x_right} Y_START={y_top} Y_END={y_bottom} Z={z} SPEED={SPEED}  
        G4 P{dry_time}

        SPRAY_ZZ_VERTICAL_TR_BL STEP={step} X_START={x_right} X_END={x_left} Y_START={y_top} Y_END={y_bottom} Z={z} SPEED={SPEED}
        G4 P{dry_time}

        SPRAY_ZZ_HORIZONTAL_BR_TL STEP={step} X_START={x_right} X_END={x_left} Y_START={y_bottom} Y_END={y_top} Z={z} SPEED={SPEED}
        G4 P{dry_time}

        SPRAY_ZZ_VERTICAL_BL_TR STEP={step} X_START={x_left} X_END={x_right} Y_START={y_bottom} Y_END={y_top} Z={z} SPEED={SPEED}
        G4 P{dry_time}
     {% endfor %}
     
     M106 S0

     G90
     G1 X130 Y-110 Z75 F3000
     RESPOND MSG="Spray run complete."
  {% endif %}


;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;Pass #1 of 4 in each layer of RUN_SPRAY_JOB
[gcode_macro SPRAY_ZZ_HORIZONTAL_TL_BR]
description: Single pass horizontal spray from top left to bottom right
gcode:
  {% set STEP = params.STEP|default(1)|int %}    # mm
  {% set Z = params.Z|default(25)|int %}         # mm
  {% set X_START = params.X_START|default(0)|int %}   # mm
  {% set X_END = params.X_END|default(22)|int %}      # mm
  {% set Y_START = params.Y_START|default(22)|int %}  # mm
  {% set Y_END = params.Y_END|default(0)|int %}       # mm
  {% set SPEED = params.SPEED|default(50)|int %}      # mm/s
  {% set range_min = [Y_START, Y_END]|min %}
  {% set range_max = [Y_START, Y_END]|max %}
  M106 S0                                             #spray off
  G1 X{X_START} Y{Y_START} Z{Z} F{SPEED * 60}              #start at TL
  M106 S255                                           #spray on
  G1 X{X_END} Y{Y_START} Z{Z} F{SPEED * 60}                #goto TR [top edge spray straight across]
  {% for y in range(range_min, range_max, STEP*2) %}  
    {% set ypos = (range_max + range_min - y) %}      #ypos value is reversed since range can only increase (from bottom to top)
     G1 X{X_START} Y{ypos-STEP} Z{Z} F{SPEED * 60}         #goto (X.left Y-step)
     G1 X{X_END} Y{ypos-STEP-STEP} Z{Z} F{SPEED * 60}      #goto (X.right Y-2step) [Y-2step becomes new ypos in next loop]
  {% endfor %}
  G1 X{X_END} Y{Y_END} Z{Z} F{SPEED * 60}                  #end at BR
  M106 S0

;Pass #2 of 4 in each layer of RUN_SPRAY_JOB
[gcode_macro SPRAY_ZZ_HORIZONTAL_BR_TL]
description: Single pass horizontal spray from bottom right to top left
gcode:
  {% set STEP = params.STEP|default(1)|int %}    # mm
  {% set Z = params.Z|default(25)|int %}         # mm
  {% set X_START = params.X_START|default(22)|int %}  # mm
  {% set X_END = params.X_END|default(0)|int %}       # mm
  {% set Y_START = params.Y_START|default(0)|int %}   # mm
  {% set Y_END = params.Y_END|default(22)|int %}      # mm
  {% set SPEED = params.SPEED|default(50)|int %}      # mm/s
  {% set range_min = [Y_START, Y_END]|min %}
  {% set range_max = [Y_START, Y_END]|max %}
  M106 S0                                             #spray off
  G1 X{X_START} Y{Y_START} Z{Z} F{SPEED * 60}              #start at BR
  M106 S255                                           #spray on
  G1 X{X_END} Y{Y_START} Z{Z} F{SPEED * 60}                #goto BL [bottom edge spray straight across]
  {% for y in range(range_min, range_max, STEP*2) %}  #for loop:    for x[right ... x-2step ... left]
    {% set ypos = y %}        
     G1 X{X_START} Y{ypos+STEP} Z{Z} F{SPEED * 60}         #goto (X.right Y+step)
     G1 X{X_END} Y{ypos+STEP+STEP} Z{Z} F{SPEED * 60}      #goto (X.left Y+2step) [Y-2step becomes new ypos in next loop]
  {% endfor %}
  G1 X{X_END} Y{Y_END} Z{Z} F{SPEED * 60}                  #end at TL
  M106 S0                                             #spray off

;Pass #3 of 4 in each layer of RUN_SPRAY_JOB
[gcode_macro SPRAY_ZZ_VERTICAL_TR_BL]
description: Single pass vertical spray from top right to bottom left
gcode:
  {% set STEP = params.STEP|default(1)|int %}    # mm
  {% set Z = params.Z|default(25)|int %}         # mm
  {% set X_START = params.X_START|default(22)|int %}  # mm
  {% set X_END = params.X_END|default(0)|int %}       # mm
  {% set Y_START = params.Y_START|default(22)|int %}  # mm
  {% set Y_END = params.Y_END|default(0)|int %}       # mm
  {% set SPEED = params.SPEED|default(50)|int %}      # mm/s
  {% set range_min = [X_START, X_END]|min %}
  {% set range_max = [X_START, X_END]|max %}
  M106 S0                                             #spray off
  G1 X{X_START} Y{Y_START} Z{Z} F{SPEED * 60}              #start at TR
  M106 S255                                           #spray on  
  G1 X{X_START} Y{Y_END} Z{Z} F{SPEED * 60}                #goto BR [right edge spray straight down]
  {% for x in range(range_min, range_max, STEP*2) %}  #for loop:    for x[right ... x-2step ... left]
    {% set xpos = (range_max + range_min - x) %}      #xpos value is reversed since range can only increase (from left to right)
     G1 X{xpos-STEP} Y{Y_START} Z{Z} F{SPEED * 60}         #goto (X-step Y.top)
     G1 X{xpos-STEP-STEP} Y{Y_END} Z{Z} F{SPEED * 60}      #goto (X-2step Y.bottom) [X-2step becomes new xpos in next loop]
  {% endfor %}
  G1 X{X_END} Y{Y_END} Z{Z} F{SPEED * 60}                  #end at BL
  M106 S0                                             #spray off

;Pass #4 of 4 in each layer of RUN_SPRAY_JOB
[gcode_macro SPRAY_ZZ_VERTICAL_BL_TR]
description: Single pass vertical spray from bottom left to top right
gcode:
  {% set STEP = params.STEP|default(1)|int %}    # mm
  {% set Z = params.Z|default(25)|int %}         # mm
  {% set X_START = params.X_START|default(0)|int %}   # mm
  {% set X_END = params.X_END|default(22)|int %}      # mm
  {% set Y_START = params.Y_START|default(0)|int %}   # mm
  {% set Y_END = params.Y_END|default(22)|int %}      # mm
  {% set SPEED = params.SPEED|default(50)|int %}      # mm/s
  {% set range_min = [X_START, X_END]|min %}
  {% set range_max = [X_START, X_END]|max %}
  M106 S0                                             #spray off
  G1 X{X_START} Y{Y_START} Z{Z} F{SPEED * 60}              #start at BL
  M106 S255                                           #spray on  
  G1 X{X_START} Y{Y_END} Z{Z} F{SPEED * 60}                #goto TL [left edge spray straight up]
  {% for x in range(range_min, range_max, STEP*2) %}  #for loop:    for x[left ... x+2step ... right]
    {% set xpos = x %}      
     G1 X{xpos+STEP} Y{Y_START} Z{Z} F{SPEED * 60}         #goto (X+step Y.bottom)
     G1 X{xpos+STEP+STEP} Y{Y_END} Z{Z} F{SPEED * 60}      #goto (X+2step Y.top) [X+2step becomes new xpos in next loop]
  {% endfor %}
  G1 X{X_END} Y{Y_END} Z{Z} F{SPEED * 60}                  #end at TR
  M106 S0                                             #spray off