############################################################
# PRINTER_PARAM - shared printer parameters used by sensorless.cfg
############################################################
[gcode_macro PRINTER_PARAM]
variable_z_safe_pause: 0.0
variable_z_safe_g28: 3.0
variable_max_x_position: 170.0
variable_max_y_position: 170.0
variable_max_z_position: 120.0
gcode:


############################################################
# PAUSE - Standard Klipper pause macro
############################################################
[gcode_macro PAUSE]
description: Pause the current print job
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE


############################################################
# RESUME - Standard Klipper resume macro
############################################################
[gcode_macro RESUME]
description: Resume the current print job
rename_existing: RESUME_BASE
gcode:
  RESUME_BASE


############################################################
# CANCEL_PRINT - Standard Klipper cancel macro
############################################################
[gcode_macro CANCEL_PRINT]
description: Cancel the current print job
rename_existing: CANCEL_PRINT_BASE
gcode:
  CANCEL_PRINT_BASE
