############################################################
# PRINTER_PARAM - Required by sensorless.cfg for homing
############################################################
[gcode_macro PRINTER_PARAM]
variable_z_safe_g28: 10
variable_max_y_position: 170
gcode:


############################################################
# PAUSE - Standard Klipper pause macro
############################################################
[gcode_macro PAUSE]
description: Pause the current print job
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE


############################################################
# RESUME - Standard Klipper resume macro
############################################################
[gcode_macro RESUME]
description: Resume the current print job
rename_existing: RESUME_BASE
gcode:
  RESUME_BASE


############################################################
# CANCEL_PRINT - Standard Klipper cancel macro
############################################################
[gcode_macro CANCEL_PRINT]
description: Cancel the current print job
rename_existing: CANCEL_PRINT_BASE
gcode:
  CANCEL_PRINT_BASE
