############################################################
# STARTUP: Restore homing state and laser alignment on restart
############################################################
[delayed_gcode restore_state_on_startup]
initial_duration: 1

gcode:
  {% set svv = printer.save_variables.variables %}

  # Restore laser alignment data if available
  {% if svv.laser_alignment_complete is defined and svv.laser_alignment_complete == 1 %}
    RESPOND MSG="Restoring laser alignment state"
    SET_GCODE_VARIABLE MACRO=LASER_ALIGNMENT_FROM_BL_CORNER VARIABLE=laser_alignment_complete VALUE=1
    SET_GCODE_VARIABLE MACRO=LASER_ALIGNMENT_FROM_BL_CORNER VARIABLE=offset_x VALUE={svv.laser_offset_x|float(0)}
    SET_GCODE_VARIABLE MACRO=LASER_ALIGNMENT_FROM_BL_CORNER VARIABLE=offset_y VALUE={svv.laser_offset_y|float(0)}
    SET_GCODE_VARIABLE MACRO=LASER_ALIGNMENT_FROM_BL_CORNER VARIABLE=laser_x_pos VALUE={svv.laser_x_pos|float(0)}
    SET_GCODE_VARIABLE MACRO=LASER_ALIGNMENT_FROM_BL_CORNER VARIABLE=laser_y_pos VALUE={svv.laser_y_pos|float(0)}
    SET_GCODE_VARIABLE MACRO=LASER_ALIGNMENT_FROM_BL_CORNER VARIABLE=previous_bl_x VALUE={svv.previous_bl_x|float(0)}
    SET_GCODE_VARIABLE MACRO=LASER_ALIGNMENT_FROM_BL_CORNER VARIABLE=previous_bl_y VALUE={svv.previous_bl_y|float(0)}

    # Restore spray area defaults
    SET_GCODE_VARIABLE MACRO=SPRAY_AREA_DEFAULTS VARIABLE=x_left VALUE={svv.spray_x_left|float(0)}
    SET_GCODE_VARIABLE MACRO=SPRAY_AREA_DEFAULTS VARIABLE=x_right VALUE={svv.spray_x_right|float(22)}
    SET_GCODE_VARIABLE MACRO=SPRAY_AREA_DEFAULTS VARIABLE=y_bottom VALUE={svv.spray_y_bottom|float(0)}
    SET_GCODE_VARIABLE MACRO=SPRAY_AREA_DEFAULTS VARIABLE=y_top VALUE={svv.spray_y_top|float(22)}

    # Restore laser calibration data if available
    {% if svv.laser_offset_calibrated is defined and svv.laser_offset_calibrated == 1 %}
      SET_GCODE_VARIABLE MACRO=LASER_OFFSET_CAL_STEP_TWO_LASER_TO_SAME_POINT VARIABLE=laser_offset_x VALUE={svv.calibrated_laser_offset_x|float(0)}
      SET_GCODE_VARIABLE MACRO=LASER_OFFSET_CAL_STEP_TWO_LASER_TO_SAME_POINT VARIABLE=laser_offset_y VALUE={svv.calibrated_laser_offset_y|float(0)}
      SET_GCODE_VARIABLE MACRO=LASER_OFFSET_CAL_STEP_TWO_LASER_TO_SAME_POINT VARIABLE=laser_cal_step_two_status VALUE=1
    {% endif %}

    RESPOND MSG="State restored successfully"
  {% endif %}

  # Then restore origin after state is set
  UPDATE_DELAYED_GCODE ID=restore_spray_origin_startup DURATION=2


############################################################
# PAUSE - Standard Klipper pause macro
############################################################
[gcode_macro PAUSE]
description: Pause the current print job
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE


############################################################
# RESUME - Standard Klipper resume macro
############################################################
[gcode_macro RESUME]
description: Resume the current print job
rename_existing: RESUME_BASE
gcode:
  RESUME_BASE


############################################################
# CANCEL_PRINT - Standard Klipper cancel macro
############################################################
[gcode_macro CANCEL_PRINT]
description: Cancel the current print job
rename_existing: CANCEL_PRINT_BASE
gcode:
  CANCEL_PRINT_BASE
